@import "tailwindcss";

@layer components {
  .nav-link {
    @apply text-gray-600 font-medium relative transition hover:text-indigo-600;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 w-0 h-[2px] bg-indigo-600 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }

  .mobile-link {
    @apply text-gray-700 font-medium text-lg hover:text-indigo-600 transition;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
